.container {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  background-color: #303030;
  padding: 30px;
}

.right {
  flex-grow: 1;
}
