.panelList {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  background-color: #494949;
  border-radius: 30px;
  margin: 30px;
}

@media screen and (max-width: 376px) {
  .panelList {
    max-width: 300px;
    margin: 30px 0;
  }
}
