.panelListItem {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.panelListName {
  width: 100%;
  max-width: 320px;
  height: 90px;
  background-color: #f2d59a;
  display: block;
  text-align: center;
  line-height: 90px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textNew {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}
