.icon {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.image {
  width: 24px;
  height: 24px;
  display: block;
  object-fit: contain;
}

@media screen and (max-width: 376px) {
  .image {
    width: 18px;
    height: 18px;
  }
}
