.board {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
}

.board__left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  background-color: #303030;
  padding: 30px;
}

.board__title {
  color: #ffffff;
  font-size: 24px;
}

.board__new-list {
  color: #ffffff;
  font-size: 24px;
}

.board__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.board__item-board {
  height: 90px;
  background-color: #f2d59a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 0px 30px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.board__item-name {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board__lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.board__new-list {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.board__right {
  flex-grow: 1;
}

.panel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel__list {
  width: 100%;
  max-width: 1000px;
  background-color: #494949;
  border-radius: 30px;
  margin: 30px 0;
}

.panel__list-item {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.panel__list-name {
  width: 100%;
  max-width: 320px;
  height: 90px;
  background-color: #f2d59a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 20px;
}

.panel__tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.panel__task-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.panel__new-task {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}
