.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.modal__content {
  background-color: #494949;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.modal__title {
  font-size: 24px;
  color: #ffffff;
  background-color: #303030;
  margin: 0;
  padding: 50px 40px;
}

.modal__input-container {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 40px 0px 40px;
}

.modal__actions {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.modal__btn-save,
.modal__btn-cancel {
  width: 100%;
  max-width: 360px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

.modal__btn-save {
  background-color: #00b140;
  color: #ffffff;
}

.modal__btn-cancel {
  background-color: #fafafa;
  color: #000000;
}
