.edit {
  height: 90px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 0px 30px;
  color: #ffffff;
}

.edit:hover,
.activeEditing {
  background-color: #f2d59a;
  color: #000000;
}

.name {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
}

.edit:hover .icons {
  opacity: 1;
  visibility: visible;
}

.iconContainer {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

@media screen and (max-width: 376px) {
  .edit {
    height: 58px;
    max-width: 250px;
  }

  .name {
    font-size: 14px;
  }

  .icons {
    gap: 15px;
  }
}
