.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #303030;
  padding: 14px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.header__link--logo {
  position: relative;
  width: 220px;
  height: 100%;
}

.header__link--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 190px;
  background-color: #464646;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px; 
  font-size: 24px;
}

.header__link--active {
  color: #FFC143;
  background-color: #373737;
}
