.edit {
  height: 90px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 0px 30px;
  color: #ffffff;
}

.edit:hover {
  background-color: #f2d59a;
  color: #000000;
}

.edit__name {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  color: inherit;
  font-size: 20px;
  outline: none;
  width: 100%;
  font-family: inherit;
}

.edit__icons {
  display: flex;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
}

.edit:hover .edit__icons {
  opacity: 1;
  visibility: visible;
}

.edit__icon-container {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.edit__icon {
  object-fit: contain;
}
